body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
   
}

.todo-container {
    margin: 20px 0;
}

input[type="text"] {
    width: 60%;
    padding: 12px;
    font-size: 16px;
    outline: none;
    margin-right:20px ;
}

button {
    
    padding: 10px 20px;
    font-size: 16px;
    background-color: green;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 6px;

}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 5px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    align-items: center;
    outline: none;
    border: none;
}

.total {
    width: 550px;
    /* height: 400px; */
    padding: 30px;
    margin: 0px auto;
    /* border: 3px solid black; */
    border-radius: 13px;
    background: #e0e0e0;
    box-shadow: 25px 25px 50px #cacaca,
        -25px -25px 50px #f6f6f6;
}